@font-face {
    font-family: "Pixel";
    src: url(../assets/AwfullyDigital.woff) format("woff");
}

body {
    font-family: "Pixel";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: firebrick;
    color: crimson;
}

.difficulty-container {
    background-color: goldenrod;
    padding: 40px; /* Augmenter la marge intérieure */
    border-radius: 20px; /* Augmenter le rayon de la bordure */
    text-align: center;
}

.difficulty-buttons,
.language-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; /* Augmenter la marge inférieure */
}

.difficulty-buttons input[type="radio"],
.language-buttons input[type="radio"] {
    display: none; /* Pour cacher les boutons radio */
}

.difficulty-label,
.language-label {
    background-color: red; /* Couleur de fond pour les boutons */
    color: gold;
    padding: 20px 40px; /* Augmenter l'espace de remplissage */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur */
    margin-right: 20px; /* Espacement entre les boutons */
}

/* Styliser les boutons sélectionnés */
.difficulty-buttons input[type="radio"]:checked + .difficulty-label,
.language-buttons input[type="radio"]:checked + .language-label {
    background-color: firebrick; /* Couleur de fond différente pour les boutons sélectionnés */
    color: gold; /* Couleur du texte */
}

.validate-button {
    font-family: "Pixel";
    background-color: red;
    color: gold;
    border: none;
    padding: 20px 40px; /* Augmenter l'espace de remplissage */
    font-size: 20px; /* Augmenter la taille de la police */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer;
}

.validate-button:hover {
    background-color: crimson;
}
