h1 {
    color: aliceblue;
    text-align: center;
}

h2 {
    color: aliceblue;
    text-align: center;
}

body {
    background-color: midnightblue;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 15px;
    max-width: 15%;
    margin: auto;
    margin-top: 50px;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}
