h1 {
    color: aliceblue;
    text-align: center;
}

h2 {
    color: aliceblue;
    text-align: center;
}

body {
    background-color: rgb(32, 32, 78);
}

.button {
    padding: 1rem;
    border-radius: 15px;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: aqua;
}