<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <h1>Hangman Game</h1>
    <div id="word">{{.Word}}</div>
    <!-- Affichage du mot partiel -->
    <div id="partial-word">{{.PartialWord}}</div>

    <!-- Affichage des lettres devinées -->
    <div id="guessed-letters">
        Lettres devinées :
        {{range .GuessedLetters}}
            {{.}}
        {{end}}
    </div>

    <!-- Affichage des lettres proposées -->
    <div id="proposed-letters">
        Lettres proposées :
        {{range .ProposedLetters}}
            {{.}}
        {{end}}
    </div>

    <!-- Affichage du nombre de vies restantes -->
    <div id="lives-remaining">
        Vies restantes : {{.LivesRemaining}}
    </div>

    <!-- Affichage du statut du jeu -->
    {{if eq .GameStatus "victory"}}
        <div id="game-status">
            <img src="/pictures/victory.png" alt="Victoire">
        </div>
    {{else if eq .GameStatus "game over"}}
        <div id="game-status">
            <img src="/pictures/defaite.png" alt="Défaite">
            <form action="/finish" method="get">
                <button type="submit">Retourner à l'accueil</button>
            </form>
        </div>
    {{end}}

    <!-- Formulaire pour proposer une lettre -->
    {{if eq .GameStatus ""}}
        <form action="/guess" method="post">
            <label for="letter">Proposez une lettre:</label>
            <input type="text" id="letter" name="letter" maxlength="1">
            <button type="submit">Proposer</button>
        </form>
        <form action="/abandon" method="get"> <!-- Nouveau formulaire pour abandonner la partie -->
            <button type="submit">Abandonner</button>
        </form>
    {{else}}
        <form action="/finish" method="get">
            <button type="submit">Nouvelle partie</button>
        </form>
    {{end}}

    <!-- Affichage du pendu -->
    <div id="hangman-image">
        <img src="{{.HangmanImage}}" alt="Pendu">
    </div>

</body>
</html>
